./NLP_medical_query_corr/data
NLP_medical_query_corr/data/*
NLP_medical_query_corr/model/*
NLP_medical_query_corr/model/pytorch_model.bin
NLP_medical_query_corr/model/attention_20220914_score7688.pth
NLP_medical_query_corr/chinese-bert-wwm-ext/*
NLP_medical_query_corr/res/*
./*/data
ELL/feedback-prize-english-language-learning.zip
ELL/sample_submission.csv
ELL/train.csv
ELL/test.csv
Conformer/*

monster_detect/data/*
monster_detect/condaenv/*

*.pyc

*.xml
*.txt
*.jpg
*.png
*.ckpt
*.index
*.pkl
*.tar
*.ckpt.*
*.zip
*.csv
*.pth
*.npy
text-tampered-detect/baseline1/res
text-tampered-detect/baseline1/res1
text-tampered-detect/baseline1/train/res1
text-tampered-detect/baseline1/data_aug/hard_un_list
text-tampered-detect/baseline1/harddata
